.ToastClose {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.ToastMessage {
  margin: 0;
  font-size: 14px;
}
.ToastIcon {
  margin-right: 8px;
  font-size: 16px;
}
.ToastIcon.success {
  color: #4caf50; /* Green for success */
}
.ToastIcon.error {
  color: #f44336; /* Red for error */
}
.ToastIcon.info {
  color: #2196f3; /* Blue for info */
}
.ToastIcon.warning {
  color: #ff9800; /* Orange for warning */
}
.ToastContainer {
 width: 100%;
  top: 20px;
  right: 20px;
  display: flex;
}
.Toast {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Arial, sans-serif;
  min-width: 250px;
  position: relative;
}
.Toast.success {
  background-color: #4caf50; /* Green for success */
}
.Toast.error {
  background-color: #f44336; /* Red for error */
}
.Toast.info {
  background-color: #2196f3; /* Blue for info */
}
.Toast.warning {
  background-color: #ff9800; /* Orange for warning */
}
.ButtonContainer {
    width: 70%;
gap: 2rem;
justify-content: center;
align-items: center;
  font-size: 14px;
}
.ButtonContainer button {
    width: 70%;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
.ToastContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
    height: 100vh;
    overflow-y: scroll;
}
.ButtonContainer button.success {
  background-color: #4caf50; /* Green for success */
}
.ButtonContainer button.error {
  background-color: #f44336; /* Red for error */
}
.ButtonContainer button.info {
  background-color: #2196f3; /* Blue for info */
}
.ButtonContainer button.warning {
  background-color: #ff9800; /* Orange for warning */
}
